*{margin: 0px;padding: 0px;box-sizing: border-box;}
img{max-width: 100%;}
.width100{width: 100%}
.width50{width: 50%}
.float-left{float: left;}
.float-right{float: right;}
.ss{max-width: 246px;margin:auto;}
.bb{max-width: 331px;margin:auto;}
.main{max-width: 1202px;margin:auto;}
.main1{max-width: 1002px;margin: auto;}
.top{width: 100%;float: left;}
.inner-top{width: 100%;float: left;}
.top-left{width: 67%;float: left;padding-top: 27px;}
.logo{width: 30%;float: left;}
.aff{width: 70%;float: left;padding: 12px;border-left: 2px solid #aeaeae;}
.aff p{font-size: 15px;font-family: 'Open Sans', sans-serif;font-style: italic;color: #4e7ba7;font-weight: 600;}
.aff p span{color: #f04848;}
.top-right{width: 33%;float: left;padding-top: 22px;padding-left: 33px;}
.top-right ul li.ad{list-style: none;float: left;}
.top-right ul li.ad a:hover{background: #034694;}
.top-right ul li.my{list-style: none;float: left;padding-left: 33px;display: inline-block;position: relative;}
.my-in{position: absolute;display: none;z-index:999;background: white;top: 27px;border: none;padding: 10px 10px 10px 0;border: none;}
.my:hover .my-in{display: block;}
.my-in{list-style: none;}
.cd{border:none;padding: 12px 17px 3px 0px;}
.top-right ul li a{text-decoration: none;}
.top-right ul li.ad a{background: #ef3b3b;color: #ffffff;font-size: 13px;font-family: 'Open Sans', sans-serif;font-weight: 700;padding: 9px 12px 9px 31px;border-radius: 3px;}
.ad a::after {content: "";background: url(icon.png);height: 20px;width: 36px;display: inline-block;background-position: -3px -17px;}
.my a{color: #356ba9;font-size: 14px;font-family: 'Raleway', sans-serif;font-weight: 700;padding: 9px 12px 9px 13px;}


.car{width: 100%;float: left;}
.car-right{width: 60%;float: right;background: #f2f2f2;}
.inner-car{width: 100%;float: left;}
.inner-car ul li{float: left;list-style: none;padding: 8px 0px 8px 0px;}
.inner-car ul li a{color: #034694;text-decoration: none;font-family: 'Open Sans', sans-serif;font-weight: 600;line-height: 18px;padding: 0 17px;border-right: 1px solid #ababab;}
.inner-car li:hover {background-color: red;}
.inner-car li:hover a {color: white;border-color: red;}
.inner-car ul li.aa a{border:none;}
.buy{width: 100%;float: left;background-color: #356ba9;}
.inner-buy{width: 100%;float: left;}
.inner-buy ul li{float: left;list-style: none;padding: 21px 25px;border-bottom: 5px solid #356ba9;}
.inner-buy ul li a{text-decoration: none;color: #ffffff;font-size: 15px;font-family: 'Open Sans', sans-serif;font-weight: 600;text-transform: uppercase;}
.inner-buy ul li:hover{background: #1d599f;border-bottom: 5px solid #ef3b3b;}
.ho{width: 100%;float: left;padding-bottom: 15px;}
.inner-ho{width: 100%;float: left;}
.inner-ho a{color: black;text-decoration: none;font-size: 18px;float: left;padding-top: 10px;}
.inner-ho a:hover{color: red;}
.for{width: 100%;float: left;background: #f9f9f9;}
.inner-for{width: 100%;float: left;padding: 15px 0;}
.for-left{width: 35%;float: left;}
.for-right{width:65%;float:left;}
.for-right h2 {font-size: 22px;font-weight: 500;font-family: 'Open Sans', sans-serif;padding-bottom: 12px;}
.for-right p{font-size: 15px;line-height: 24px; font-family: 'Open Sans', sans-serif;padding-top: 12px;}
.company{width: 100%;float: left;background: #2e2f45;padding-bottom: 70px;}
.inner-company{width: 100%;float: left;}
.company-1{width: 19.9%;float:left;padding-top: 125px;}
.company-2{width: 20.1%;float:left;padding-top: 125px;}
.company-1 p,.company-2 p{font-size: 15px;font-family: 'Open Sans', sans-serif;font-weight: 600;color: #9b9cc8;padding-bottom: 10px;}
.company-1 ul li,.company-2 ul li{list-style: none;}
.company-1 ul li a,.company-2 ul li a{color: #b4b5b9;font-size: 14px;font-family: 'Roboto', sans-serif;font-weight: 400;text-decoration: none;line-height: 36px;}
.company-1 ul li a span,.company-2 ul li a span{color: white;background: red;font-size: 10px;font-family: 'Open Sans', sans-serif;font-weight: 700;padding: 1px 6px;border-radius: 4px;margin-left: 4px;}
.quick{padding-top: 67px;}
.banner1{width: 100%;float: left;}
.office{width: 100%;float: left;background: #d5d5e2;padding-top: 27px;padding-bottom: 30px;margin-top: -3px;}
.inner-office{width: 100%;float: left;}
.office-1{width: 25%;float: left;}
.inner-office h3{font-size: 14px;font-family: 'Open Sans', sans-serif;font-weight: 600;text-transform: uppercase;}
.pound{width: 66%;font-family: 'Open Sans', sans-serif;font-weight: 400;font-size: 13px;padding-top: 21px;}
.com{font-family: 'Open Sans', sans-serif;font-weight: 400;font-size: 13px;padding-top: 21px;}
.office-2{width: 37%;float: left;border-left: 2px solid #c1c1d8;padding: 0px 0px 49px 80px;border-right: 2px solid #c1c1d8;}
.office-2 h3{font-size: 14px;font-family: 'Open Sans', sans-serif;font-weight: 600;color: #333333;padding-bottom: 10px;}
.office-2 ul li{list-style: none;float: left;}
.fb a::before {content: "";background: url(icon.png);height: 52px;width: 61px;display: inline-block;background-position: -26px -266px;}
.tw a::before {content: "";background: url(icon.png);height: 52px;width: 61px;display: inline-block;background-position: -112px -266px;}
.ins a::before {content: "";background: url(icon.png);height: 52px;width: 61px;display: inline-block;background-position: -204px -266px;}
.yt a::before {content: "";background: url(icon.png);height: 52px;width: 61px;display: inline-block;background-position: -304px -266px;}
.gt a::before {content: "";background: url(icon.png);height: 52px;width: 61px;display: inline-block;background-position: -392px -266px;}
.office-3{width: 38%;float: left;padding-left: 75px;}
.office-3 h2{font-size: 25px;font-family: 'Open Sans', sans-serif;font-weight: 700;text-transform: uppercase;color: #034694;}
.office-3 form input{padding: 10px 22px 10px 22px;font-size: 15px;font-family: 'Open Sans', sans-serif;font-weight: 300;}
.office-3 form  button{cursor: pointer;background: #034694;color: white;border: none;font-size: 17px;font-family: 'Roboto', sans-serif;font-weight: 500;padding: 7px 10px 11px 10px;margin-left: -4px;}
.office-3  button::after {content: "";background: url(icon.png) no-repeat;height: 20px;width: 38px;display: inline-block;background-position: -1px -20px;}
.our a:hover::before{border:1px solid transparent;}
